<div class="border">
  <h3>Add a review for {{movie.title}}</h3>
  <form (submit)='onSubmit($event, form)' #form='ngForm'>
    <div>
      <label for="">Your name:</label>
      <input type="text" name='author' required #author='ngModel' minlength="3" [(ngModel)]='newReview.author'>
    </div>
    <div *ngIf='author.errors'>
      <div *ngIf='author.errors.minlength'>
        <p class="errors">Your name must contain at least 3 letters</p>
      </div>
      <div *ngIf='(author.touched) && author.errors.required'>
        <p class="errors"> You must enter a name if you'd like to enter a review</p>
      </div>
    </div>
    <div>
      <label for="">Stars:</label>
      <select name='stars' required #stars='ngModel' [(ngModel)]='newReview.stars'>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
    <div *ngIf='stars.errors'>
      <div *ngIf='(stars.touched) && stars.errors.required'>
        <p class="errors"> For your review, you must select a number of stars for the movie</p>
      </div>
    </div>
    <div>
      <label for="">Your review:</label>
      <input type="text" name='revew' required #review='ngModel' [(ngModel)]='newReview.review'>
    </div>
    <div *ngIf='review.errors'>
      <div *ngIf='review.errors.minlength'>
        <p class="errors">Your review must contain at least 3 letters</p>
      </div>
      <div class="errors" *ngIf='(review.touched) && review.errors.required'>
        <p class="errors"> Please type a review in order to submit </p>
      </div>
    </div>
    <button class="submit" [disabled]="!form.valid" type="submit">Submit</button>
    <button class="cancel" [routerLink]="['/movies', movie._id]">Cancel</button>
  </form>
</div>
