<!DOCTYPE>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Quotes</title>
</head>
<body>
  <h1>Quotes</h1>
  <a href="/">Home</a>
  <h3>Check out all of these quotes:</h3>
  <% for (const quote of quotes) {%>
    <h3>Author: <%=quote.name %></h3>
    <p>Quote: <%=quote.quote %></p>
    <% } %>

</body>

</html>